.container {
  text-align: center;
}
.welcome {
  color: white;
}

.aboutus {
  text-indent: 0px;
}

.services {
  color: white;
}

h2 {
  text-align: center;
}

.contactus {
  color: white;
}

#set2 img {
  max-width: 100%;
}

#set1 img {
  max-width: 100%;
}

.hidden1 {
  display: none;
}

.hidden2 {
  display: none;
}

.hidden3 {
  display: none;
}

.icons {
  cursor: pointer;
}
#socials {
  padding-left: 340px;
}
.portfolio {
  padding-left: 50px;
  padding-right: 50px;
}
